doctype html
html
  //include includes/head.pug
  head
    link(rel="stylesheet", href="less-css/styles.css", type="text/css")
  body
    h1 My Site #{title}
    p Welcome to my super #{message}.
    //include includes/foot.pug


